.footer-container {
  background: #000;
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    @include media($desktop) {
      flex-direction: row;
      height: 190px;
    }
  }
}

.footer-item {
  margin-bottom: 1.5rem;
}

.footer-logo {
  background-image: url(../../assets/img/assets_legacy_logo_graphic.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 110px;
  height: 80px;
}

footer .menu-primary-menu-container {
  a {
    color: #FFF;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    height: 80px;
    text-transform: uppercase;
  }
  li {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    letter-spacing: 2px;
  }
}

.menu-social-menu-container {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 57px;
    @include media($desktop) {
      width: 100px;
      height: 100px;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include media($desktop) {
      flex: 0 0 50%;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #8B8B8B;
    background: #171717;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.copyright-container {
  flex-direction: column;
  justify-content: center;
  height: 40px;
  background: #1A1A1A;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: $color__text-grey;
  @include media($desktop) {
    flex-direction: row;
  }
  p {
    margin: 0;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include media($desktop) {
      border-right: 1px solid $color__text-grey;
      padding-right: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  p, .menu-footer-menu-container {
    height: 16px;
    width: initial;
    @include media($desktop) {
      width: 50%;
    }
  }
  a {
    color: $color__text-grey;
    &:focus {
      outline: none;
    }
  }
}

.menu-footer-menu-container {
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  li {
    border-right: 1px solid $color__text-grey;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    height: 100%;
    align-items: center;
  }
  li:last-child {
    border-right: none;
    margin: 0;
    padding: 0;
  }
}