.shared-container {
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.first-row {
  height: 100%;
  padding: 4rem 0;
}

.container-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  h2, h3, h4 {
    margin: 0;
    letter-spacing: 2px;
  }
  h2, h4 {
    text-transform: uppercase;
  }
  h2, h3 {
    margin-bottom: 1rem;
  }
  h2 {
    font-family: 'Vision', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    @include media($desktop) {
      font-size: 70px;
    }
  }
  h3 {
    max-width: 470px;
    font-family: 'Vision', sans-serif;
    font-weight: bold;
    font-size: 22px;
    @include media($desktop) {
      font-size: 27px;
      max-width: 620px;
    }
  }
  h4 {
    margin-top: 4rem;
    color: $color__accent-grey;
    font-size: 20px;
    @include media($desktop) {
      font-size: 26px;
    }
  }
}

.container-content {
  font-size: 20px;
  max-width: 875px;
  margin: 0 auto;
  text-align: justify;
  padding: 0 1.5rem;
  @include media($desktop) {
    font-size: 25px;
    padding: 0;
  }
}

.container-icon {
  width: 50%;
  height: 150px;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  @include media($desktop) {
    width: 20%;
  }
  img {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.nested-row {
  margin: 0;
}

.hero-block, .footer-block {
  min-height: 675px;
}

.carousel .flickity-viewport {
  position: initial;
}

.slides .flickity-page-dots {
  bottom: 1.5rem;
}

.slides .flickity-page-dots .dot {
    width: 15px;
    height: 15px;
    background: rgba(225,225,225,0.9);
}

.flickity-page-dots .dot.is-selected {
  background: $color__accent-gold;
}

.sliders {
  width: 100%;
  height: 100%;
}

.slides .flickity-slider {
  position: relative;
}

.home-block {
  position: relative;
}

.background-image {
  z-index: -9999;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  position: absolute;
}

.home-block .slides {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider-container-heading {
  @include media($desktop) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  h4 {
    margin: 0;
  }
  h2 {
    text-align: center;
    max-width: 20rem;
    @include media($desktop) {
      text-align: left;
    }
  }
}

.slider-container .first-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  @include media($desktop) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.slider-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  @include media($desktop) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 45%;
  }
}

.slider-link {
  width: 175px;
  height: 36px;
  background: #FFF;
  border-radius: 30px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
  p {
    color: $color__accent-grey;
    padding-top: 3px;
    margin: 0;
    width: 80%;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  span {
    background-image: url(../../assets/img/assets_button_icon.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.about-block .background-image {
  margin-right: -15px;
  margin-left: -15px;
}

.about-container-heading {
  background-image: url(../../assets/img/assets_waveform.png);
  background-position: -24rem -0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 222px;
  h3 {
    color: $color__accent-gold;
    text-align: center;
  }
}

.container-arrow {
  background-image: url(../../assets/img/assets_custom_icon.png);
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact-block {
  background-color: $color__background-dark;
}

.contact-info-container {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 5rem 1.5rem 8rem;
  @include media($desktop) {
    font-size: 15px;
    max-width: 700px;
  }
}

.contact-description-wrapper {
  width: 50%;
  h3 {
    text-transform: uppercase;
    font-family: 'Visions', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    @include media($desktop) {
      font-size: 23px;
    }
  }
  p {
    margin: 0;
  }
}

.contact-info-wrapper {
  margin-right: 1rem;
  p:last-child {
    margin: 0;
  }
  i {
    margin-right: 0.5rem;
    color: $color__accent-lightgrey;
  }
  a {
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.contact-form-container {
  background-color: $color__background-darkgrey;
  position: relative;
  height: 440px;
  -webkit-box-shadow: 0px 0px 7px #000;
          box-shadow: 0px 0px 7px #000;
  .wpcf7 {
    max-width: 700px;
    border-radius: 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: 0px 0px 7px #000;
            box-shadow: 0px 0px 7px #000;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background-color: $color__background-darkgrey;
    padding-top: 3rem;
    &:before {
      content: 'CONTACT US';
      margin-left: 1.5rem;
      font-family: 'Vision', sans-serif;
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
  .wpcf7-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1.5rem 2.5rem;
  }
  p {
    position: relative;
    margin-bottom: 0.5rem;
  }
  p:nth-child(-n+3) {
    width: 45%;
  }
  p:nth-child(4), p:nth-child(5 ) {
    width: 100%;
  }
  p:nth-child(6) {
    &:focus {
      outline: none;
    }
  }
  input, textarea {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 6px;
    background-color: $color__background-lightgrey;
    color: $color__text-grey;
    padding: 7px 8px 3px 28px;
    font-size: 15px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid $color__accent-blue;
    &:focus {
      outline: none;
      color: $color__text-grey;
    }
  }
  textarea {
    height: 200px;
  }

  .wpcf7-submit {
    width: 80px;
    padding: 7px 3px 3px;
    &:hover {
      border-color: $color__accent-blue;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }

  .far {
    position: absolute;
    z-index: 100;
    top: 2.1rem;
    left: 0.5rem;
    color: $color__text-grey;
  }
}

div.wpcf7-response-output {
  margin: 0;
}