// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__background-dark: #0D0D0D;
$color__background-lightgrey: #C6C6C6;
$color__background-darkgrey: #1A1A1A;
$color__text-main: #FFFFFF;
$color__text-lightgrey: #808184;
$color__text-grey: #636363;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__accent-gold: #D4A328;
$color__accent-grey: #808080;
$color__accent-lightgrey: #868686;
$color__accent-contactgrey: #636363;
$color__accent-blue: #8799C6;

// Typography

$font__main: 'Vision Thin', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Queries

$tablet: 750px;
$desktop: 1024px;
$wide: 1200px;